button {
    height: 30px;
    width: 100px;
    border-style: solid;
    cursor: pointer;
    margin-right: 8px;
}

.subscribe-btn {
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
}

.join-btn {
   background-color: white; 
   border-color: rgb(0, 102, 255);
   border-radius: 3px;
   border-width: 0.5px;
   color: rgb(0, 102, 255);
   width: 50px;
}

.tweet-btn {
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 60px;
}
