body {
    display: block;
    margin: 8px;
}

button {
    appearance: auto;
    background-color: buttonface;
    border-color: buttonborder;
    border-image: initial;
    border-style: outset;
    border-width: 2px;
    box-sizing: border-box;
    color: buttontext;
    cursor: default;
    display: inline-block;
    letter-spacing: normal;
    line-height: normal;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
}

.subscribe-btn {
    background-color: rgb(204, 0, 0);
    border: none;
    color: white;
    padding: 10px 16px;
    transition: padding 0.8s,
    opacity 0.15s;
}

.subscribe-btn:hover {
    background-color: rgb(248, 100, 100);
    opacity: 0.8;
    padding: 14px 20px;
}

.subscribe-btn:active {
    opacity: 0.5;
}

.join-btn {
    background-color: white;
    border: 1px solid rgb(6, 95, 212);
    color: rgb(6, 95, 212);
    cursor: pointer;
    padding: 9px 15px;
    transition: background-color 0.15s, color 0.15s;
}

.join-btn:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}

.join-btn:active {
    opacity: 0.5;
}

.subscribe-btn, .join-btn {
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    margin-right: 12px;
}

.tweet-btn {
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 22.5px;
    padding: 7px 16px;
    transition: margin-top 0.15s,
    box-shadow 0.15s;
}

.tweet-btn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.tweet-btn:active {
    opacity: 0.7;
    margin-top: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.uber-btn {
    background-color: black;
    border: none;
    color: white;
    font-size: 10px;
    margin-top: 5px;
    padding: 9px 16px;
    transition: opacity 0.25s,
    border-radius 0.25s;
}

.uber-btn:hover {
    background-color: rgba(0, 0, 0, 0.842);
}

.uber-btn:active {
    border: none;
    border-radius: 3px;
    opacity: 0.3;
}

.amazon-btn {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    color: black;
    padding: 8px 16px;
    width: 100px;
}

.amazon-btn:hover {
    background-color: rgb(220, 185, 11);
}

.github-btn {
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 16px;
}

.github-btn:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.bootstrap-btns {
    margin-top: 10px;
}

.getStart-btn{
    background-color: rgb(121, 82, 179);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 7px 15px;
}

.getStart-btn:hover {
    background-color: white;
    border: inset;
    border-color: rgb(121, 82, 179);
    color: rgb(121, 82, 179);
}

.download-btn {
    background-color: white;
    border: solid;
    border-radius: 3px;
    color: rgb(108, 117, 125);
    padding: 7px 15px;
}

.download-btn:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linkedIn-btns {
    margin-top: 10px;
}

.applyWebsite-btn {
    background-color: rgb(10, 102, 194);
    border: solid;
    border-radius: 3px;
    color: white;
    padding: 8px 16px;
    width: fit-content;
}

.applyWebsite-btn:hover {
    background-color: white;
    color: rgb(10, 102, 194);
}

.linkedIn-save-btn {
    background-color: white;
    border: solid;
    border-radius: 3px;
    color: rgb(10, 102, 194);
    padding: 8px 16px;
    width: fit-content;
}

.linkedIn-save-btn:hover {
    background-color: rgb(10, 102, 194);
    color: white;
}

.bta-text{
    color: rgb(0, 113, 133);
    text-decoration: underline;
}

.prc-stk {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    color: black;
    font-weight: 700;
    margin-right: 10px;
    padding: 9px 16px;
}

.add-to-cart-btn:hover {
    opacity: 0.8;
}

.add-to-cart-btn:active {
    opacity: 0.5;
}

.buy-now-btn{
    background-color: rgb(255, 164, 28);
    border: none;
    border-radius: 20px;
    font-weight: 700;
    padding: 9px 16px;
}

.page-back-btn, .page-next-btn {
    border-radius: 5px;
    padding: 10px 10px;
}

.page-back-btn:hover, .page-next-btn:hover {
    cursor: pointer;
}

.page-1, .page-2, .page-3, .page-4 {
    border-radius: 5px;
    color: rgb(0, 113, 133);
    padding: 10px 10px;
    text-decoration: underline;
} 