button {
    height: 30px;
    width: 100px;;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.subscribe-btn {                
    background-color: rgb(237, 11, 11);
    color: white;
    border-radius: 3px;
    border-width: .5px;
    border-color: rgb(176, 15, 15);
    transition: opacity 0.25s;
}

.subscribe-btn:hover {
    background-color: rgb(248, 100, 100);
    opacity: 0.6;
}

.subscribe-btn:active {
    border: solid;
}

.join-btn {
   background-color: white; 
   border: solid;
   border-color: rgb(0, 102, 255);
   border-radius: 3px;
   border-width: 0.5px;
   color: rgb(0, 102, 255);
   width: 50px;
   transition: background-color 0.25s, 
   color 0.25s;
}

.join-btn:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}

.join-btn:active {
    opacity: 0.5;
}

.tweet-btn {
    background-color: rgb(0, 140, 255);
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 60px;
    transition: box-shadow 0.15s;
}

.tweet-btn:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.tweet-btn:active {
    box-shadow: none;
    opacity: 0.75;
    border: solid;
    border-width: 2px;
}

.uber-btn {
    background-color: black;
    color: white;
    margin-top: 5px;
    font-size: 10px;
    transition: opacity 0.25s,
    border-radius 0.25s;
}

.uber-btn:hover {
    background-color: rgba(0, 0, 0, 0.842);
}

.uber-btn:active {
    border: none;
    opacity: 0.3;
    border-radius: 3px;
}

.amazon-btn {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    color: black;
    width: 100px;
}

.amazon-btn:hover {
    background-color: rgb(220, 185, 11);
}

.github-btn {
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    width: 70px;
}

.github-btn:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.bootstrap-btns {
    margin-top: 10px;
}

.getStart-btn{
    background-color: rgb(121, 82, 179);
    border-radius: 3px;
    color: white;
}

.getStart-btn:hover {
    background-color: white;
    color: rgb(121, 82, 179);
    border: solid;
    border-color: rgb(121, 82, 179);
}

.download-btn {
    background-color: white;
    border: solid;
    border-radius: 3px;
    color: rgb(108, 117, 125);

}

.download-btn:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}

.linkedIn-btns {
    margin-top: 10px;
}

.applyWebsite-btn {
    background-color: rgb(10, 102, 194);
    border: solid;
    border-radius: 3px;
    color: white;
    width: fit-content;
    padding: 5px 15px;

}

.applyWebsite-btn:hover {
    background-color: white;
    color: rgb(10, 102, 194);
}

.linkedIn-save-btn {
    background-color: white;
    border: solid;
    border-radius: 3px;
    color: rgb(10, 102, 194);
    width: fit-content;
    padding: 5px 15px;

}

.linkedIn-save-btn:hover {
    background-color: rgb(10, 102, 194);
    color: white;
}

.bta-text{
    text-decoration: underline;
    color: rgb(0, 113, 133);
}

.prc-stk {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.add-to-cart-btn {
    color: black;
    border-radius: 20px;
    background-color: rgb(255, 216, 20);
    font-weight: 700;
    margin-right: 10px;
}

.add-to-cart-btn:hover {
    opacity: 0.8;
}

.buy-now-btn{
    background-color: rgb(255, 164, 28);
    border-radius: 20px;
    font-weight: 700;    
}